@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "About Page";
}
<div class="row">
    <div class="col-md-6 col-xs-6">
        <h4>Brief History</h4>
    </div>

    <div class="col-md-6 col-xs-6">
        <h4>The Team</h4>
    </div>

</div>