@model IEnumerable<AcadaAcademy.DataModels.Item>
@{
    ViewBag.Title = "HOME"; 
    ViewData["sitename"] = "ACADA ACDEMY";
}
<div class="row">

    <div class="col-md-12">
        <p style="height:40px;"></p>
        <h2> Welcome To @ViewData["sitename"] </h2>
        <p style="height:20px;"></p>
        <p> Here you will report infrastructure issues you discover in your locatiion</p>
        <p> You can also do it real time with your facebook messenger app. Search for OMBUDSBOT!</p>
        <a asp-controller="App" asp-action="Items" class="btn btn-sm btn-success">View Issue List</a>
    </div>

</div>
